.choose-box{
    height: 577px;
    border-radius: 10px;
    background: #2C343E;
    padding-top: 100px;
    margin-bottom: 250px;
}
.choose {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.chooser__wrapper{
    display: flex;
    width: 540px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.choose__title {
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */ 
}
.choose__text {
    color: #FEFCF7;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.8;
}
.choose__content {
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.choose__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F4F1EB;
    padding: 48px;
}
.choose__card:hover{
    border-radius: 8px;
    background: #FDD6BA;
}
.choose__card:hover > .choose__card-title{
    color: #333D4B;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.choose__card:hover > .choose__card-text{
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.choose__card:active{
    border-radius: 8px;
    background: #0E8784;
} 
.choose__card:active > .choose__card-title{
    color: #FFF;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.choose__card:active > .choose__card-text{
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.choose__card-title {
    color: #333D4B;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-bottom: 24px;
    margin-top: 56px;
}
.choose__card-text{
    color: #333D4B;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}