.collection-section{
    padding-top: 249px;
    background-image: url("../../images/collection-bg.png");
    background-repeat: no-repeat;
    background-size:  1116px, 196px;
    background-color: linear-gradient(180deg, rgba(254, 252, 247, 0.00) 0%, #FEFCF7 100%);
    background-position: calc(50% + 20px) calc(50% - 102px);
}
.collection{
    display: flex;
    gap: 30px;
    width: 255px;
    align-items: center;
    margin-bottom: 200px;
    padding-left: 85px;
}
.collection__title{
    color: #333D4B;
    text-align: center;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-top: 70px;
    margin-bottom: 24px;
}
.collection__text{
    color: #333D4B;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}