.footer {
    padding: 47px 85px 47px 85px;
    background-color: #2C343E;
}
.footer__box{
    display: flex;
    align-items: center;
}
.footer__logo-link {
    display: inline-block;
}

.footer__list {
    display: flex;
    align-items: center;
}
.footer__item + .footer__item {
    margin-left: 33px;
}
.footer__link{
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
}
.footer__link:hover{
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
}
.footer-img{
    display: flex;
    gap: 18px;
}
.facebook-icon:hover{
    filter: invert(40%);
}
.twitter-icon:hover{
    filter: invert(40%);
}
.instagram-icon:hover{
    filter: invert(40%);
}
  @media only screen and (max-width: 842px){
    .footer__box{
      display: flex;
      flex-direction: column;
    }
    .footer__wrap{
      margin-top: 32px;
      margin-bottom: 65px;
    }
  }
  @media only screen and (max-width: 508px){
    .footer__list{
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .footer__item + .footer__item{
      margin-left: 0;
    }
    .img{
      width: 217.846px;
      height: 24px;
    }
  }